---
permalink: "index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Parlamento Abierto | Red Ciudadana</title>
{% endblock %}

{% block content %}

        <!-- Slider
		============================================= -->
		<div class="slider-element">
            <img src="/assets/img/parlamento/03_SLIDER/CL_01.png" alt="Slider">
            <div class="overlay-content">
              <h1>Hacia un Congreso <br>Transparente y Participativo</h1>
              <p>Parlamento Abierto 2025</p>
              <a href="/parlamento_abierto/index.html">Conoce Más</button>
            </div>
        </div>

        <!-- Lineas de Accion
        ============================================= -->

        <section class="px-2" style="background-color: #e9f0f8;">
            <div class="container clearfix ">
                <div class="row py-6">
                    <div class="col-lg-4 my-4 text-center">
                        <a href="/transformacion/gobierno-digital/index.html"><div class="cuadro_plataformas">
                            <img src="/assets/img/iconos/TD-46.png">
                            <h2 class="text-titles hover_white">Gobierno Digital</h2>
                            <p>Integración y eficiencia en cada clic.</p>
                        </div></a>
                    </div>
                    <div class="col-lg-4 my-4 text-center">
                        <img style="margin: auto; padding-block: 10px; width: 150px;height: 150px;" src="/assets/img/iconos/ICONOS-54.png">
                        <h3 class="text-titles2">Innovación</h3>
                        <p class="text-white">
                            Reimaginando el futuro con innovación: Nuestro Gobierno Digital impulsa soluciones creativas y tecnologías avanzadas para mejorar la vida de todos en Guatemala.
                        </p>
                    </div>

                    <div class="col-lg-4 my-4 text-center">
                        <img style="margin: auto; padding-block: 10px; width: 150px;height: 150px;" src="/assets/img/iconos/02.png">
                        <h3 class="text-titles2">Transparencia</h3>
                        <p class="text-white">
                            Transparencia como base de la confianza: Nuestro Gobierno Digital se compromete a una gestión abierta y clara, donde cada acción y decisión es accesible para el escrutinio y participación de todos
                        </p>
                    </div>

                    <div class="col-lg-4 my-4 text-center">
                        <img style="margin: auto; padding-block: 10px; width: 150px;height: 150px;" src="/assets/img/iconos/ICONOS-55.png">
                        <h3 class="text-titles2">Accesibilidad</h3>
                        <p class="text-white" >
                            Accesibilidad para todos: Nuestro Gobierno Digital se esfuerza por eliminar barreras y crear servicios inclusivos, asegurando que cada ciudadano tenga las mismas oportunidades para acceder a la información y los servicios digitales.    
                        </p>
                    </div>

                </div>
            </div>
        </section>

        <!-- Transformacion Digital
        ============================================= -->

        <section class="px-2" style="background-color: #fff;">
            <div class="container clearfix ">
                <div class="row py-6">
                    
                    <div class="col-lg-12 text-center mb-4">

                        <h1 class="text-titles">Transformación Digital</h1>

                        <!-- <a href="#" class="btn">Ir a productos <i class="fa-solid fa-right-long"></i></a> -->
                    </div>

                    <div class="col-lg-4 my-4 text-center">
                        <a href="/transformacion/gobierno-digital/index.html"><div class="cuadro_plataformas">
                            <img src="/assets/img/iconos/TD-46.png">
                            <h2 class="text-titles hover_white">Gobierno Digital</h2>
                            <p>Integración y eficiencia en cada clic.</p>
                        </div></a>
                    </div>

                    <div class="col-lg-4 my-4 text-center">
                        <a href="/transformacion/interoperabilidad/index.html"><div class="cuadro_plataformas">
                            <img src="/assets/img/iconos/TD-47.png">
                            <h2 class="text-titles hover_white">Interoperabilidad</h2>
                            <p>Sistemas conectados para una gestión pública sin barreras.</p>
                        </div></a>
                    </div>

                    <div class="col-lg-4 my-4 text-center">
                        <a href="/transformacion/datos-abiertos/index.html"><div class="cuadro_plataformas">
                            <img src="/assets/img/iconos/TD-48.png">
                            <h2 class="text-titles hover_white">Datos Abiertos</h2>
                            <p>Información pública al alcance de todos, fortaleciendo la transparencia y la rendición de cuentas.</p>
                        </div></a>
                    </div>

                    <div class="col-lg-4 my-4 text-center">
                        <a href="/transformacion/accesibilidad-e-inclusión-digital/index.html"><div class="cuadro_plataformas">
                            <img src="/assets/img/iconos/TD-49.png">
                            <h2 class="text-titles hover_white">Accesabilidad e Inclusión Digital</h2>
                            <p>Comprometidos con un acceso igualitario a la información y los servicios digitales.</p>
                        </div></a>
                    </div>

                    <div class="col-lg-4 my-4 text-center">
                        <a href="/transformacion/tecnologías-emergentes/index.html"><div class="cuadro_plataformas">
                            <img src="/assets/img/iconos/TD-50.png">
                            <h2 class="text-titles hover_white">Tecnologías Emergentes</h2>
                            <p>Innovando para el futuro de Guatemala con las últimas tecnologías.</p>
                        </div></a>
                    </div>

                    <div class="col-lg-4 my-4 text-center">
                        <a href="/transformacion/infraestructura-pública-digital/index.html"><div class="cuadro_plataformas">
                            <img src="/assets/img/iconos/TD-51.png">
                            <h2 class="text-titles hover_white">Infraestructura Pública Digital</h2>
                            <p>Construyendo las bases para un Gobierno Digital sólido y sostenible.</p>
                        </div></a>
                    </div>

                </div>
            </div>
        </section>

        <!-- Videos
        ============================================= -->

        <section class="px-2">
            <div class="container clearfix ">
                <div class="row py-6">

                    <div class="col-lg-12 text-center mb-4">

                        <h1 class="text-titles3 mb-4">Descubre más sobre nuestra transformación digital a través de nuestros últimos videos.</h1>

                    </div>

                    {% for video in collections.videos | limit(2) | reverse %}
                    
                    <div class="col-lg-6 text-center">
                        <iframe width="560" height="315" src="{{video.data.link | safe}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>

                    {% endfor %}




                </div>
            </div>
        </section>

        <!-- Suscribete
        ============================================= -->

        <section class="px-2" style="background-color: #e8f0f9;">
            <div class="container clearfix ">
                <div class="row py-6">
                    
                    <div class="col-lg-12 text-center">
                        <h2 class="text-titles">Suscribete</h2>
                        <p>Unete a nuestro newsletter para recibir las noticias</p>
                        <a class="btn" href="https://share.hsforms.com/10OfFUGCZQei9SH-EpuKX5wrhae7" target="_blank">Unirse</a>
                    </div>

                </div>
            </div>
        </section>


{% endblock %}

{% block body_javascripts %}

{% endblock %}