---
permalink: "index.html"
---

{% extends "src/base.njk" %}

{% block head %}
<title>Parlamento Abierto | Red Ciudadana</title>
{% endblock %}

{% block content %}

        <!-- Slider
		============================================= -->
		<div class="slider-element">
            <img src="/assets/img/parlamento/03_SLIDER/CL_01.png" alt="Slider">
            <div class="overlay-content">
              <h1>Hacia un Congreso <br>Transparente y Participativo</h1>
              <p>Parlamento Abierto 2025</p>
              <a href="/parlamento_abierto/index.html">Conoce Más</a>
              <a href="/plan2025/index.html">Plan 2025</a>
            </div>
        </div>

        <!-- Lineas de Accion
        ============================================= -->

        <section class="px-2" style="background-color: #e9f0f8;">
            <div class="container clearfix ">
                <div class="row py-6">
                    <div class="col-lg-4 my-4 text-center">
                        <a href="/diagnosticopdf"><div class="cuadro_plataformas">
                            <img src="/assets/img/parlamento/01_ICONOS/CL-13.png">
                            <h2 class="text-titles hover_white">Diagnóstico Inicial</h2>
                            <p>Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet.</p>
                        </div></a>
                    </div>
                    <div class="col-lg-4 my-4 text-center">
                        <a href="consulta.congreso.gob.gt"><div class="cuadro_plataformas">
                            <img src="/assets/img/parlamento/01_ICONOS/CL-14.png">
                            <h2 class="text-titles hover_white">Consulta Ciudadana</h2>
                            <p>Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet.</p>
                        </div></a>
                    </div>
                    <div class="col-lg-4 my-4 text-center">
                        <a href="/plan2025/index.html"><div class="cuadro_plataformas">
                            <img src="/assets/img/parlamento/01_ICONOS/CL-15.png">
                            <h2 class="text-titles hover_white">Aprobación del Plan de Parlamento Abierto</h2>
                            <p>Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet. Lorem Ipsum dolor sit amet.</p>
                        </div></a>
                    </div>

                </div>
            </div>
        </section>

        <!-- que es
        ============================================= -->

        <section class="px-2">
            <div class="container clearfix ">
                <div class="row py-6">

                    <div class="col-lg-6 mb-4">

                        <h1 class="text-titles mb-4">¿Qué es el Parlamento Abierto?</h1>

                        <p>Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet,
                            Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet,
                            Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet.
                        </p>
                        <br>
                        <b>
                            Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet,
                            Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet.
                        </b>
                        <br>
                        <a href="/plan2025/index.html" class="btn">
                            Plan 2025
                        </a>

                    </div>

                    {% for video in collections.videos | limit(1) | reverse %}
                    
                    <div class="col-lg-6 text-center">
                        <iframe width="560" height="315" src="{{video.data.link | safe}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>

                    {% endfor %}




                </div>
            </div>
        </section>

        <!-- recursos
        ============================================= -->

        <section class="px-2" style="background-color: #e8f0f9;">
            <div class="container clearfix ">
                <div class="row py-6">
                    
                    <div class="col-lg-12 mb-4 text-center">
                        <h2 class="text-titles mb-2">Recursos</h2>
                        <p class="mb-4">Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet,</p>
                    </div>
                    {% for recurso in collections.recursos %}
                    <div class="col-lg-4 mb-4">
                        <div class="cuadro_recurso">
                            <img src="{{recurso.data.image}}">
                            <div class="cuadro_recurso_content">
                                <h1>{{recurso.data.title}}</h1>
                                <p>{{recurso.data.description}}</p>
                                <a class="btn" href="{{recurso.url}}">Descargar</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                    {% for recurso in collections.recursos | limit(1) %}
                    <div class="col-lg-4 mb-4">
                        <div class="cuadro_recurso">
                            <img src="{{recurso.data.image}}">
                            <div class="cuadro_recurso_content">
                                <h1>{{recurso.data.title}}</h1>
                                <p>{{recurso.data.description}}</p>
                                <a class="btn" href="{{recurso.url}}">Descargar</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>


{% endblock %}

{% block body_javascripts %}
<script>
document.addEventListener('DOMContentLoaded', () => {
  const sliderImage = document.querySelector('.slider-element img');

  if (window.innerWidth <= 768) {
    sliderImage.src = '/assets/img/parlamento/03_SLIDER/CL_MOVIL.png';
  }

  window.addEventListener('resize', () => {
    sliderImage.src = window.innerWidth <= 768
      ? '/assets/img/parlamento/03_SLIDER/CL_MOVIL.png'
      : '/assets/img/parlamento/03_SLIDER/CL-01.png';
  });
});

</script>
{% endblock %}